body{
    background-color: var(--mainColor);
    font-family: "cairo", Arial, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;
    line-height: 1.15;
}
:root {
    --mainColor:#07001A ;
    --subColor: #130D25 ; 
    --green  : #1BB96B ;
    --pink :#B91B5D ;
}

/* Style of Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: var(--subColor);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
    border-radius: 12px;
}
/* style the selected text */
::selection {
    color:white ;
    background:var(--pink);
}
* {
    box-sizing: border-box;
}

/* Style of Content (Table) */
#aa {
    display: flex;
    justify-content: center;
}
.content{
    background-color: var(--subColor);
    color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 25px;
    width:clamp(75px, 90vw, 1300px) ;
    margin: auto ;
}
.content-head {
    background-color: var(--subColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width:clamp(75px, 85vw, 1200px) ;
    margin: 30px auto 0px ; 
}
.content-head .head {
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    height:fit-content ;
    width: 90%;
    margin: 10px auto;
}
.content-head .head img {
    width: clamp(100px, 10vw, 150px) ;
}
.content-head h1 {
    font-family: Righteous ;
    font-size: clamp(1rem, 8vw, 4rem);
    color: white;
    margin: 0;
}

th {
    padding:clamp(1rem, 1vw, 1rem) ;
}

.content-head .head span {
    background-color: var(--pink);
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    animation: anim 4s linear infinite; 
    animation-fill-mode: forwards; 
    backface-visibility: hidden;
}

@keyframes anim {
    0% { background-color: white; }
    30% { background-color: var(--primary-color); } 
    60% { background-color: var(--pink); }
    100% { background-color: white; }
}

.content .table{
    justify-content: center;
    width: 95%;
    text-align: left;
    font-size:clamp(.1rem, 3vw, 1rem) ;
    font-weight: 400;
    margin: 0 auto;
}
.s-font{
    text-align: center;
    font-weight: bold;
    font-size: clamp(13px, 1.5vw, 1rem);
}
th, td{
    align-content: center;
    text-align: center;
}
.table img{
    width:clamp(1rem, 8vw, 3.5rem) ;
    padding: 5px;
}

thead tr {
    background-color:var(--pink);
}


tbody tr {
    background-color: white;
    box-shadow: inset 0 -0.5px 0 #00000069;
}


.champions,
.europa,
.convrance {
    position: relative;
}
.champions::before,
.europa::before,
.convrance::before {
    content: "";
    position: absolute; 
    height: 100%;
    width: clamp(3px, 1vw, 6px);
    top: 0;
    left: 0;
}
.champions::before{
    background-color: #0b17f2;
}

.europa::before {
    background-color: #F47E01;
}
.convrance::before {
    background-color: #0C6320;
}

.down{
    border-top: 2px solid rgb(255, 40, 130);
}

.sign .green {
    border-left: .5rem solid #0C6320;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px 0 0 5px;
    padding-left: 6px;
    font-weight: bold;
}
.sign .blue {
    border-left: .5rem solid #0b17f2;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px 0 0 5px;
    padding-left: 6px;
    font-weight: bold;
}
.sign .yellow {
    border-left: .5rem solid #F47E01;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px 0 0 5px;
    padding-left: 6px;
    font-weight: bold;
}
.sign .yellow p ,
.sign .blue p ,
.sign .red p ,
.sign .green p  {
    font-size: clamp(16px, 2vw, 20px);
}
tbody tr:last-child {
    border-left: 0rem solid #ffffff;
}

.aa th:first-child {
    border-radius: 10px 0 0 0 ;
}
.aa th:last-child {
    border-radius: 0 10px  0 0 ;
}
.aa th {
    padding: 20px 10px;
}

.sign {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 5px;
    width: 95%;
    margin: 20px auto 0 auto ;
    align-items: center;
    justify-content: center;
}
.sign div {
    width: fit-content;
    margin: 0 auto ;

}
.b-l {
    border-radius: 0 0 0 10px;
}

tbody tr:last-child td.s-font:last-of-type   {
    border-radius: 0 0 10px 0px;
}

tbody tr:last-child td {
    border-bottom: 0px;
}

@media (max-width: 480px) {
    .col-5 {
        display: none;
    }
    .sign {
        flex-direction: column;
    }
}

.col-4 {
    min-width: fit-content;
    display: flex;
}
thead tr .col-4 {
    justify-content: center;
    margin: 0 auto;
}

tbody tr td:first-child {
    font-weight: bold;
}

tbody tr td:first-child {
    position: relative;
}

tbody tr td:first-child::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #37003c60;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}








.content-head  {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

.content-head ::before, 
.content-head ::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
.content-head ::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }
    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to { transform: rotate(1turn); }
}

.st3 { fill: var(--mainColor); } 
.st4 { fill: var(--subColor); }
.st9 { fill: none; }
.st15 { fill: var(--pink); opacity: 0.3; enable-background: new; }

.content-head {
    background: linear-gradient(-45deg, var(--mainColor), var(--subColor));
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
}