body {
    background-color: #07001A;
    font-family: "cairo", Arial, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0;
    padding: 0;
}
:root {
    --mainColor:#07001A ;
    --subColor: #130D25 ; 
    --green  : #1BB96B ;
    --pink :#B91B5D ;
}
/* Style of Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color:var(--subColor);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
    border-radius: 12px;
}
/* style the selected text */
::selection {
    color:white ;
    background:var(--pink);
}
.title {
    margin: 50px auto 30px;
    padding: 10px ;
    background-image: url(https://www.premierleague.com/resources/rebrand/v7.153.31/i/elements/backgrounds/primary-bg_small.svg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:clamp(1rem, 80vw, 70rem) ;
    height:clamp(1rem, 15vw, 8rem) ;
    position :relative;
}
.title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:clamp(1rem, 80vw, 70rem) ;
    height:clamp(1rem, 15vw, 8rem) ;
    background-image: url(https://www.premierleague.com/resources/rebrand/v7.153.31/i/elements/backgrounds/primary-graphic_small.svg); 
    background-size: cover;
    background-position: 0 0 ;
}
.title h1 {
    color: white;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bolder;
    z-index: 1;
} 

.container {
    max-width: 1100px;
    margin: 40px auto;
    background: var(--subColor);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
    padding: 15px;
}

.goals {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.goals h2 {
    color: var(--mainColor);
    padding-left: 20px;
    font-size: 35px;
    margin: 0;
}

.player {
    display: flex;
    border-radius: 10px;
    color: var(--mainColor);
    text-align: center;
    transition: 0.3s;
    position: relative;
}
.goals .players .player .left h3 {
    font-size: 30px;
    margin: 0;
}

.player .left {
    width: 100%;
    border-radius: 5px ;
    margin-bottom: 10px;
    transition: 0.3s;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;}

.player .left .club {
    width: 50px;
}

.player .left .info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .left .info i {
    padding: 0 15px;
    font-size: 30px;
    font-weight: bold;
    color: var(--mainColor);
}
.player .left .info p {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
    color: var(--mainColor);
}

.player .img-isak,
.player .img-Sels {
    display: flex;
    justify-content: center;
    border-radius: 5px 0 0 0px;
}
.player .img-isak {
    background: linear-gradient(45deg, #8d100c8d 10%, rgba(126, 20, 20, 0.36) 50%, #750a06b8 50%);
    background-size: 50px 50px;
    background-color: #911712;
}
.player .img-Sels {
    background: linear-gradient(45deg, rgba(49, 8, 8, 0.135) 0%, rgba(126, 20, 20, 0.36) 50%, #d93d56 50%);
    background-size: 50px 50px;
    background-color: #d93d56;
}


tr,
img {
    transition-duration: .4s;
}


td {
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid #07001A ;  
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-spacing: 0 0;        
}

table tbody tr td:first-child {
    padding-left: 20px;
}
table tbody tr td:last-child {
    padding-right: 20px;
}

.last td {
    border-bottom: 0px solid #07001A ;  
}