/* media query for all devices (small , medium, large) */
/* Phone */
@media (max-width: 480px) {
    html {
        font-size: 12px; 
    }
    .time {
        width: 25%;
    }
    .details .goal-home {
        padding-right: 40px
    }
}
@media (max-width: 767px) {
    .time {
        width: 32%;
    }
}
/* small screen */
@media (min-width: 768px) {
    .container {
        width: 750px ;
    }
    .time {
        width: 10%;
    }
    .details .goal-home {
        padding-right: 140px
    }
}
/* Medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px ;
    }
    .time {
        width: 12%;
    }
    .details .goal-home {
        padding-right: 140px
    }
}
/* Large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px ;
    }
    .time {
        width: 10%;
    }
    .details .goal-home {
        padding-right: 60px
    }
}
/* Color variables */
:root {
    --mainColor:#07001A ;
    --subColor: #130D25 ; 
    --green  : #1BB96B ;
    --pink :#B91B5D ;
}

/* Style of Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: var(--subColor);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
    border-radius: 12px;
}
/* style the selected text */
::selection {
    color:white ;
    background:var(--pink);
}


body {
    background-color: #07001A;
    font-family: "cairo", Arial, system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.title {
    margin: 40px 0 40px  ;
    padding: 10px ;
    background-image: url(https://www.premierleague.com/resources/rebrand/v7.153.31/i/elements/backgrounds/primary-bg_small.svg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:clamp(360px, 80vw, 1120px) ;
    height:clamp(1rem, 15vh, 6rem) ;
    position :relative;
}
.title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:clamp(360px, 80vw, 1120px) ;
    height:clamp(1rem, 15vh, 6rem) ;
    background-image: url(https://www.premierleague.com/resources/rebrand/v7.153.31/i/elements/backgrounds/primary-graphic_small.svg); 
    background-size: cover;
    background-position: 0 0 ;
}
.title h1 {
    color: white;
    font-size: clamp(30px, 5vw, 3rem);
    font-weight: bolder;
    z-index: 1;
} 
.main {
    display: flex;
    flex-direction: column;
    width:clamp(360px, 80vw, 1120px) ;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
}

table {
    border-spacing: 0px 0px;
    overflow: hidden;
}
table tr {
    position: relative;
    overflow: hidden;
}
table tr::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%; 
    width: 0; 
    height: 6px;
    background: linear-gradient(137.27deg, #05f0ff 19.85%, #7367ff 91.08%, #963cff 113.26%);
    transition: 0.4s ease; 
    z-index: 1;
    transform: translateX(-50%); 
}
.main:hover table tr:before{
    width: 100%; 
    left: 50%;  
}
table td:first-child {
    border-left: 6px solid #eeeeee;
}
table td:last-child {
    border-right: 6px solid #eeeeee;
}
table td {
    padding: 5px;
    padding: 20px 5px;
    border-top: 6px solid #eeeeee;
}
table tr {
    background-color: #eeeeee;

}



.first {
    text-align: right;
}

.second {
    border-bottom-right-radius: 10px;
    transition: border-bottom-right-radius 0.3s ease;

}

.first ,
.second {
    color: var(--mainColor);
    font-size: clamp(15px, 3vw, 30px) ;
    font-weight: bolder;
    width: 38%;
}
.time {
    text-align: center;
    color: white;
    padding: 0 5px;
}
.hour {
    border-radius:5px;
    background-color: var(--mainColor);
    line-height: 2.5;
    font-weight: 900;
    transition: 0.4s ease; 
    font-size: clamp(12px, 2vw, 1.2rem) ;
}
.logo {
    padding-left: 5px;
    justify-content: flex-end;
}
.logo img {
    width:clamp(32px, 6vw, 3rem) ;
}

.details {
    background-color: white;
    height: fit-content;
    min-height: 60px;
    display: flex;
    padding: 5px 0;
    border-radius: 0 0 15px 15px;
    border: 5px solid #eeeeee;
    border-top: 2px solid var(--subColor);
    transition: 0.3s;
    display: none;
    transition: transform 0.3s ease; 
}


.details div {
    width: calc(100%/2);
    align-items: center;
    justify-content: space-around;
}
.details .goal-home {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: end;
}
.details .goal-home span {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row-reverse;
    width: 80%;
    padding: 10px;
}
.details .goal-home span i {
    align-items: center;
    display: flex;
    padding-bottom: 5px;
}
.details .goal-home span p {
    padding:0 5px 3px 0 ;
    margin: 0;
}
.details .goal-away {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
}
.details .goal-away span {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    width: 80%;
}
.details .goal-away span i {
    align-items: center;
    display: flex;
    padding-right: 5px;
    padding-bottom: 5px;
}
.details .goal-away span p {
    padding:0 5px 0 0 ;
    margin: 0;
}

.details .goal-away span p,
.details .goal-away span i,
.details .goal-home span i,
.details .goal-home span p {
    font-size:clamp(15px, 2vw, 1.2rem);
    color: var(--mainColor);
}

.details .goal-away span:not(:last-child),
.details .goal-home span:not(:last-child) {
    border-bottom: 2px solid #07001a60;
}











.arrow {
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease; 
    border-radius: 0px 0 0 10px;
}

.arrow.down i {
    transform: rotate(0deg);
    transition: transform 0.3s ease; 
    color: var(--mainColor);
    transform: translateX(15px) ;
}

.arrow.up i {
    transform: rotate(180deg) translateX(-15px);
    transition: transform 0.3s ease;
    color: var(--pink);
}






